body{
    background-color: rgba(127, 255, 212, 0.2);
    font-family: 'Alef';font-size: 22px;
}

input[type=text]{
    width: 50%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid cadetblue;
    border-radius: 4px;
    background-color:  	hsl(120, 100%, 99%);
}

input[type=text]:focus{
    box-shadow: 1px 1px 10px 5px cadetblue;
    outline: none;

}

.button{
    display: inline-block;
    padding: 15px;
    margin: 5px;
    width: 150px;
    font-size: 18px;
    color:  white;
    background-color: cadetblue;
    font-weight: bold;
    border: 1px;
    box-shadow: 0px 10px 0px 0px rgba(47, 79, 79, 0.7);
    border-radius: 7px;

}

.button:hover{
    background-color: rgb(51, 93, 95);
}

.button:active{
    outline: none;
    background-color: rgb(51, 93, 95);
    box-shadow: 0px 6px 0px 0px rgb(47, 79, 79);
    transform: translateY(2px);
}

.button:focus{
    outline: none;
}

.decryptedText{
    display: none;
}

.algorithms p{
    text-align: center;
}



.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}


.cipher{
    width: 40%;
    margin: 15px 50px 20px 50px;
    /*position:relative;*/
}
  
.cipher:first-child{
    width:100%;
}



h2{
    padding:0;
    margin: 0 0 0 0;
    border: 4px double cadetblue;
    text-shadow: 2px 2px 5px cadetblue;
    text-align: center;
}

h1{
    text-align: center;
    margin: 20px 50px 20px 50px;
    text-shadow: 2px 2px 5px cadetblue;
}



#seeMore{

    border: none;
    border-radius: 30px;
    background-color: rgba(127, 255, 212, 0.1);
    height: 70px;

}

.playfair,.bifid{
    display:none;
}
